<div>
    <div class="container">
        <div class="w-100 d-flex flex-wrap justify-content-between">
            <h2>Products</h2>
            <button type="button" class="btn btn-primary" (click)="toggleDialog();">
                Add
              </button>
        </div>
        <div class="d-flex flex-wrap w-100 justify-content-center">
            <p *ngIf="products?.length==0">No products available</p>
            <div class="card m-2" style="min-width:300px" *ngFor="let product of products;let i = index">
                <div class="card-header">
                    {{product.title}}
                    <button class="btn btn-primary float-right" 
                      (click)="editProduct(i)">Edit</button>
                    <button class="btn btn-primary float-right" (click)="deleteProduct(i)">delete</button>
                </div>
                <div class="card-body">
                    {{product.desc}}
                </div>
            </div>
        </div>
    </div>

      
      <!-- Modal -->
      <div class="modal" style="display: block;" 
      *ngIf="modalStatus">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" (click)="toggleDialog()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div>
                <label for="title-modal">Title</label>
                <input id="title-modal" type="text" [(ngModel)]="addTitle">
                </div>
                <div>
                <label for="desc-modal">Description</label>
                <textarea id="desc-modal" [(ngModel)]="addDesc"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="toggleDialog()">Close</button>
              <button type="button" class="btn btn-primary" (click)="addProduct()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>